body {
    font-family: Arial, sans-serif;
    background-color: #F3E2B6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
        form {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }
        img {
            width: 150px;
            height: auto;
            margin-bottom: 20px;
        }
        h1 {
            color: #333333;
            margin-bottom: 10px;
        }
        h2 {
            color: #666666;
            margin-bottom: 20px;
        }
        .buttonOrtu {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 20px 40px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 18px;
            margin: 20px 20px;
            cursor: pointer;
            border-radius: 4px;
            transition: background-color 0.3s;
            font-family: 'Verdana', sans-serif; 
        }
        .buttonKader {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 20px 40px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 18px;
            margin: 20px 20px;
            cursor: pointer;
            border-radius: 4px;
            transition: background-color 0.3s;
            font-family: 'Verdana', sans-serif;
        }
        .buttonOrtu:hover {
            background-color: #008DDA;
        }
        .buttonKader:hover {
            background-color: #FFDA1A;
            color: black;
        }